.clothes-section__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.clothes-section__header {
  display: flex;
  align-items: center;
}

.clothes-section__header-text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 20px 0 0;
}

.clothes-section__header-button {
  border: none;
  background-color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  opacity: 0.6;
}

.clothes-section__header-button:hover {
  cursor: pointer;
}

.clothes-section__items-cards {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(auto-fit, 325px);
  grid-template-rows: repeat(auto-fit, 328px);
  gap: 20px 20px;
  list-style: none;
}

.clothes-section__items-card {
  border: 1px;
  border-color: #000;
  max-height: 328px;
}
