.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__container-left {
  display: flex;
  flex-direction: row;
}

.header__date-city {
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: ;
}

.header__container-right {
  display: flex;
  flex-direction: row;
}

.header__avatar {
  height: 40px;
  width: 40px;
}
