.item-modal__container {
  width: 498px;
  height: 610px;
  box-sizing: border-box;
  margin: auto;
  background: #fff;
  border-radius: 20px;
  position: relative;
  contain: strict;
}

.item-modal__close {
  background: transparent url(../assets/modal-close-white.svg) center no-repeat;
  background-size: contain;
  height: 16px;
  width: 16px;
  border: none;
  position: absolute;
  right: 28px;
  top: 20px;
}

.item-modal__image {
  max-width: 498px;
  max-height: 498px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-modal__close:hover {
  cursor: pointer;
}

.item-modal__name {
  margin: 20px 0 12px 32px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.item-modal__weather {
  margin: 0 0 32px 32px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.item-modal__delete {
  border: none;
  background: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ff4d00;
  position: absolute;
  right: 32px;
  bottom: 68px;
}

.item-modal__delete {
  cursor: pointer;
}
